<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yx.ssm.mapper.InfomationCustomMapper" >

    <sql id="queryinfomationWhere">
        <if test="infomationCustom !=null">
            <if test="infomationCustom.name != null and infomationCustom.name != ''">
                infomation.name like '%${infomationCustom.name}%'
            </if>
        </if>
    </sql>
    <!-- 查询 -->
    <select id="selectByBean" parameterType="com.yx.ssm.vo.InfomationVo" resultType="com.yx.ssm.po.InfomationCustom">
        select * from infomation 
        <where>
            <include refid="queryinfomationWhere"></include>
        </where>
    </select>
</mapper>